*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }

body{
    background: linear-gradient(135deg, #00644f, #744885);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
   
}
.container{
    display: grid;
    grid-template-columns: auto auto;
}
.form{
    background-color:rgb(201, 232, 235);
    height: 100%;
    width: 80%;
    height: 500px;
    margin: 25px;
    padding: 25px;
    border-radius: 8px;
    border: 2px solid black;
}
h1,h2{
    text-align: center;
}
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 75%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  form .button{
    height: 45px;
    margin: 48px 3px ;
  }
  form .button input{
    height: 80%;
    width: 20%;
    border-radius: 5px;
    border: none;
    color:black;
    font-size: 18px;
    font-weight: 500;
    margin: 2px;
  }
  .container22{
    background-color: cadetblue;
    color: antiquewhite;
  }

  

.table{
    background-color:rgb(201, 232, 235);
    height: 900px;
    width: 88%;
    height: 500px;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid black;

}
th,td
 {
    padding: 15px;
    text-align: center;
  }